# Python
__pycache__/

# Environment
.env
.env.local

# IDEs
.vscode/
.cursor/

# Freqtrade
freqtrade_worker/user_data/data/
freqtrade_worker/user_data/backtest_results/*.json
freqtrade_worker/user_data/strategies/*.py
!freqtrade_worker/user_data/strategies/.gitkeep
freqtrade_worker/user_data/backtest_results

# Frontend
frontend/ui/node_modules/

# Backend cache
backend/strategies_cache/*.py
!backend/strategies_cache/.gitkeep

# Logs
*.log

# Temporary files
tmp/
temp/
files/
scripts/
